body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.navbar
{
    background-color: black;
}
.nav-link,.navbar-text
{
    color: white !important;
    text-decoration: none;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    max-width: 100%;
    background-image: url(../img/home_background2.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position:center; 
    /*opacity: 0.6;*/
}

#order_form
{
    background-color: rgba(107, 95, 95, 0.799);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
}

.food_pictures
{
    display: flex;
    justify-content: space-around; 
    margin: 20px;
    gap: 20px; 
}

.food_pictures label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.food_pictures input[type="radio"] {
    margin: 5px;
}

.special_notes_div
{
    display: flex;
    width: 100%;
    justify-content: center;
}

#special_notes {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.special_notes_text
{
    padding-top: 20px;
    padding-right: 10px;
}

#submit_order {
    background-color: #413838;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit_order:hover {
    background-color: #181717;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





.special_notes_note
{
    color: red;
    font-size: 12px;
}